*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: calibri;
  font-weight: bold;
  align-content: center;
}

h1{
  font-size: 300%;
  font-family: Garamond ;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 30px;
}

article{
  float: left;
  font-size: 18px;
  font-weight: bold;
  background-color: #aaaaFF;
  padding: 10px;
  padding-top: 37px;
  border: 1px solid black;
  position: relative;

}

section{
  border: 15px solid white;
}

h2{
  margin: 0;
  padding:0;
  width: 28%;
  font-size: 120%;
  font-weight: bold;
  text-align: center;
  border: 1px solid black;
  position: absolute;
  top: 0;
  right: 0;
}

#T1{
  background-color: pink;
}

#T2{
  background-color: red;
}

#T3{
  background-color: yellow;
}

.row{
  width: 100%;
}

@media (min-width: 992px){
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5,
  .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10,
   .col-lg-11, .col-lg-12{
    float: left;
  }
  .col-lg-1{
    width: 8.33%;
  }
  .col-lg-2{
    width: 16.66%;
  }
  .col-lg-3{
    width: 25%;
  }
  .col-lg-4{
    width: 33%;
  }
  .col-lg-5{
    width: 41.66%;
  }
  .col-lg-6{
    width: 50%;
  }
  .col-lg-7{
    width: 58.33%;
  }
  .col-lg-8{
    width: 66.66%;
  }
  .col-lg-9{
    width: 74.99%;
  }
  .col-lg-10{
    width: 83.33%;
  }
  .col-lg-11{
    width: 91.66%;
  }
  .col-lg-12{
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .col-md-6, .col-md-12{
    float: left;
  }
  .col-md-6{
    width: 50%;
  }
  .col-md-12{
    width: 100%;
    clear: left;
  }
}

@media (max-width: 767px){
  .col-sm-12{
    float: left;
  }
  .col-sm-12{
    width: 100%;
  }
}
